<!-- 材料の内容表示ページ-->
<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<link rel="stylesheet" href="/css/normalize.css" th:href="@{/css/normalize.css}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<header th:replace="~{layouts/common.html :: header}"></header>
	<main>
		<div class="container">
			<h1 class="title" th:text="${title}"></h1>
			<div class="dish-detail">
				<p>料理名</p>
				<p class="name" th:text="${detail.dishName}"></p>
				<form class="edit-dish" method="get" th:action="@{/dish/edit/__${#strings.toString(detail.dishId)}__}">
					<input type="submit" value="編集">
				</form>
				<form class="remove-dish" method="post"
					th:action="@{/dish/delete/__${#strings.toString(detail.dishId)}__}">
					<input type="submit" value="削除">
				</form>

				<!-- 材料表示のテーブルをここに-->
				<!--table class="ingredient-table">
					<thead>
						<th>材料名</th>
					</thead>
					<tbody>
						<td th:text="${ingredient-detail.IngredientName}"></td>
					</tbody>
				</table-->
				<table class="table">
					<thead>
						<th>材料名</th>
						<th></th>
						<th>分量</th>
					</thead>
					<tbody th:each="item: ${ingredient-detail}">
						<tr>
							<td th:text="${item.dishName}"></td>
							<td></td>
							<td th:text=${item.quantity}></td>
						</tr>
					</tbody>
				</table>

				<!--table class="dish-table">
					<thead>
						<th>調味料名</th>
					</thead>
					<tbody>
						<td th:text="${detail.seasoningName}"></td>
					</tbody>
				</table-->
			</div>
			<form class="back-dishList" method="get" th:action="@{/dish/list}">
				<input type="submit" value="料理一覧に戻る">
			</form>
		</div>
	</main>
	<footer th:replace="~{layouts/common.html :: footer}"></footer>
</body>

</html>