<!-- 料理の登録ページ-->
<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<link rel="stylesheet" href="/css/normalize.css" th:href="@{/css/normalize.css}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>

<body>
	<header th:replace="~{layouts/common.html :: header}"></header>
	<main>
		<div class="container">
			<h1 class="title" th:text="${title}"></h1>
			<form method="post" th:action="@{/dish/list}" th:object="${Form}">
				<div id="dish-name">
					<label for="name" class="form-label">料理名</label>
					<input type="text" class="form-control" name="dishName" th:value="*{dishName}" />
				</div>
				<div id="ingredients_input_fields">
					<div class="ingredient_input_field">
						<label for="name" class="form-label">材料</label>
						<input type="text" class="form-control" name="ingredientName" th:value="*{ingredientName}" />
						<label for="name" class="form-label">分量</label>
						<input type="text" class="form-control" name="quantity" th:value="*{quantity}" />
						<button class="remove_ingredient" type="button">削除</button>
					</div>
				</div>
				<div class="add_button">
					<button id="add_ingredient" type="button">材料を追加</button>
				</div>
				<br> <!-- brあとで消す -->
				<div id="seasonings_input_fields">
					<div class="seasoning_input_field">
						<label for="name" class="form-label">調味料</label>
						<input type="text" class="form-control" name="seasoningName" th:value="*{seasoningName}" />
						<button class="remove_seasoning" type="button">削除</button>
					</div>
				</div>
				<div class="add_button">
					<button id="add_seasoning" type="button">調味料を追加</button>
				</div>
				<br> <!-- brあとで消す -->
				<input type="submit" class="btn" value="保存" />
			</form>
			<br> <!-- brあとで消す -->
			<form class="back-dishList" method="get" th:action="@{/dish/list}">
				<input type="submit" value="料理一覧に戻る">
			</form>
		</div>
	</main>
	<footer th:replace="~{layouts/common.html :: footer}"></footer>
</body>
<script>
	$(document).ready(function () {
		var max_fields = 20;//材料は20個まで入力可
		var min_fields = 1;//最小値は1個
		var n = 1;
		//材料の入力欄を増やす
		$("#add_ingredient").click(function () {
			if (n < max_fields) {
				n++;
				var element = $(".ingredient_input_field").clone(true);//材料の入力エリアのクローンを作成
				//入力エリアの初期化の処理
				var inputList = element[0].querySelectorAll('input[type="text"]');
				for (var i = 0; i < inputList.length; i++) {
					inputList[i].value = "";
				}
				$("#ingredients_input_fields").append(element[0]);
			}
		});
		//材料の入力欄を減らす
		$(".remove_ingredient").click(function () {
			if (n > min_fields) {
				$(this).closest(".ingredient_input_field").remove();
				n--;
			}
		});

		var m = 1;
		//調味料の入力欄を増やす
		$("#add_seasoning").click(function () {
			if (m < max_fields) {
				m++;
				var element = $(".seasoning_input_field").clone(true);//入力エリアのクローンを作成
				//入力エリアの初期化の処理
				var inputList = element[0].querySelectorAll('input[type="text"]');
				for (var i = 0; i < inputList.length; i++) {
					inputList[i].value = "";
				}
				$("#seasonings_input_fields").append(element[0]);
			}
		});

		//調味料の入力欄を減らす
		$(".remove_seasoning").click(function () {
			if (m > min_fields) {
				$(this).closest(".seasoning_input_field").remove();
				m--;
			}
		});

	});
</script>

</html>