<!--　全てのページに使うヘッダーとフッターの設定 -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<link rel="stylesheet" href="/css/normalize.css" th:href="@{/css/normalize.css}">

<body>
	<header>
		<!-- タイトル　あとで変える-->
		<p class="header-logo">Title</p>
			<ul class="header-contents">
				<li><a th:href="@{/shoppinglist/list}">買い物リストを見る</a></li>
				<li><a th:href="@{/shoppinglist/initialize}">買い物リストを作る</a></li>
				<li><a th:href="@{/dish/list}">料理の登録</a></li>
				<li><a th:href="@{/shop}">お店の登録</a></li>
				<li><a th:href="@{/alwaysBuy}">いつも買うものリスト</a></li>
				<li><a href="#">あとで買うものリスト</a></li>
				<a th:href="@{/logout}" class="nav-link convert" data-method="post" th:data-_csrf="${_csrf.token}">ログアウト</a>
			</ul>
	</header>
	<footer>©2023 ︎SayaHazawa All Rights Reserved</footer>
</body>

</html>