<!--　ほぼ全てのページに使う諸設定とヘッダー・フッターの設定 -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
	<link rel="stylesheet" href="/css/normalize.css" th:href="@{/css/normalize.css}">
	<title>タイトル</title>　<!--タイトルを入力-->
</head>

<body>
	<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" layout:fragment="nav"><!-- ヘッダーの設定 -->
		<div class="container-fluid">
			<a class="navbar-brand" href="#">タイトル</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="メニューを開く">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav me-auto">
					<li class="nav-item">
						<a class="nav-link" th:href="@{/shoppinglist/list}">買い物リストを見る</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/shoppinglist/initialize}">買い物リストを作る</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/dish/list}">料理を登録する</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/shop}">お店を登録する</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/alwaysBuy}">いつも買うものリスト</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">あとで買うものリスト</a>
					</li>
					<li class="nav-item">
						<a th:href="@{/logout}" class="nav-link convert" data-method="post"
							th:data-_csrf="${_csrf.token}">ログアウト</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div layout:fragment="contents"></div><!--各ページのコンテンツがここに入る-->
	<footer>
		<div class="container text-center">
			<p>
				<small>©2024 ︎Saya-star All Rights Reserved</small>
			</p>
		</div>
	</footer>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
		</script>
</body>

</html>