<!--　全てのページに使うヘッダーとフッターの設定 -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<link rel="stylesheet" href="/css/normalize.css" th:href="@{/css/normalize.css}">

<body>
	<header>
		<!-- タイトル　あとで変える-->
		<p class="header-logo">Title</p>
			<ul class="header-contents">
				<li><a href="#">リストを見る</a></li>
				<li><a href="#">リストを作る</a></li>
				<li><a href="#">料理の登録</a></li>
				<li><a href="#">お店の登録</a></li>
				<li><a href="#">いつも買うものリスト</a></li>
				<li><a href="#">あとで買うものリスト</a></li>
			</ul>
	</header>
	<footer>©2023 ︎SayaHazawa All Rights Reserved</footer>
</body>

</html>