<!-- 作成した買い物リストを表示するページ-->
<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/common}">

<body>
	<div class="wrap" layout:fragment="contents">
		<main>
			<h1>作成した買い物リスト一覧</h1>
			<div th:if="${shoppingLists} != null" th:each="shoppingList: ${shoppingLists}"
				th:unless="${shoppingList.deleted}">
				<div class="container">
					<div class="row d-flex align-items-center">
						<div class="col-10 p-4">
							<div class="card">
								<div class="card-header" th:text="${shoppingList.createdDate}"></div>
								<div class="card-body">
									<h5 class="card-title" th:if="${shoppingList.shop} != null"
										th:text="${shoppingList.shop.shopName}"></h5>
									<div class="d-flex" th:each="item:${shoppingList.shoppingListIngredients}">
										<p class="card-text" th:text="${item.ingredient.ingredientName}"></p>
										<p class="card-text text-nowrap" th:text="${item.ingredient.quantity}"></p>
									</div>
									<div th:each="item:${shoppingList.shoppingListSeasonings}">
										<p class="card-text" th:text="${item.seasoning.seasoningName}"></p>
									</div>
									<div th:each="item:${shoppingList.shoppingListAlwaysBuys}">
										<p class="card-text" th:text="${item.alwaysBuy.alwaysBuyName}"></p>
									</div>
									<div th:each="item:${shoppingList.shoppingListLaterBuys}">
										<p class="card-text" th:text="${item.laterBuy.laterBuyName}"></p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-1">
							<form method="post"
								th:action="@{/shoppinglist/delete/__${#strings.toString(shoppingList.shoppingListId)}__}">
								<input class="btn btn-outline-secondary text-nowrap" type="submit" value="削除">
							</form>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>
</body>

</html>