<!-- 作成した買い物リストを表示するページ-->
<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<link rel="stylesheet" href="/css/normalize.css" th:href="@{/css/normalize.css}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<header th:replace="~{layouts/common.html :: header}"></header>
	<main>
		<p>買い物リスト一覧</p>
		<div class="contents" >
			<p th:text="${createdList.createdDate}"></p>
			<p th:text="${createdList.shop.shopName}"></p>
			<th:block th:each="item:${createdList.shoppingListIngredients}">
				<a th:text="${item.ingredient.ingredientName}"></a>
				<a th:text="${item.ingredient.quantity}"></a>
			</th:block>
			<th:block th:each="item:${createdList.shoppingListSeasonings}">
				<a th:text="${item.seasoning.seasoningName}"></a>
			</th:block>
	</main>
	<footer th:replace="~{layouts/common.html :: footer}"></footer>
</body>

</html>