<!-- 買い物リスト作成・料理を表示するページ-->
<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<link rel="stylesheet" href="/css/normalize.css" th:href="@{/css/normalize.css}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<header th:replace="~{layouts/common.html :: header}"></header>
	<main>
		<p>step3</p>
		<!--p th:text="${selectForm.ingredientIds}"></p-->
		<th:block th:each="item:${ingredientNames}">
			<p th:text="${item}"></p>
		</th:block>
	</main>
	<footer th:replace="~{layouts/common.html :: footer}"></footer>
</body>

</html>