<!-- 買い物リスト作成ページ①：登録した料理から、買い物に必要な料理を選択するページ-->
<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/common}">

<body>
	<div class="wrap" layout:fragment="contents">
		<main>
			<h1 class="title" th:text="${title}"></h1>
			<p>step1:料理を選択する</p>
			<div class="select-dish">
				<form method="post" th:action="@{/shoppinglist/select2}">
					<div th:each="item:${data}" th:unless="${item.dishDeleted}">
						<input type="checkbox" th:value="${item.dishId}" th:text="${item.dishName}" name="dishIds" />
					</div>
					<input type="submit" value="送信">
				</form>
			</div>
		</main>
	</div>
</body>

</html>