<!-- 買い物リスト作成・料理を表示するページ-->
<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<link rel="stylesheet" href="/css/normalize.css" th:href="@{/css/normalize.css}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<header th:replace="~{layouts/common.html :: header}"></header>
	<main>
		<p>step3</p>
		<div class="make-shoppinglist">
			<form method="post" th:action="@{/shoppinglist/select3/create}" th:object="${shoppingList}">
				<div class="ingredientList">
					<p>・選択した材料</p>
					<th:block th:each="item:${selectedIngredient}">
						<input type="checkbox" th:text="${item.ingredientName}" th:value="${item.ingredientId}" name="ingredients"/>
						<a th:text="${item.quantity}"></a>
					</th:block>
				</div>
				<div class="seasoningList">
					<p>・選択した調味料</p>
					<th:block th:each="item:${selectedSeasoning}">
						<input type="checkbox" th:text="${item.seasoningName}" th:value="${item.seasoningId}" name="seasonings"/>
					</th:block>
				</div>
				<div class="shopList">
					<p>・買うお店を選択する</p>
					<th:block th:each="item:${shopList}">
						<input type="radio" th:text="${item.shopName}" th:value="${item.shopId}" name="shopId"/>
				</div>
				<button type="submit">買い物リストを作成</button>
			</form>
		</div>
	</main>
	<footer th:replace="~{layouts/common.html :: footer}"></footer>
</body>

</html>