<!-- 買い物リスト買うものとお店の組み合わせを選択するページ-->
<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/common}">

<body>
	<div class="wrap" layout:fragment="contents">
		<main>
			<h1 class="title" th:text="${title}"></h1>
			<h2>step3：買うものとお店を選択して買い物リストを作成する</h2>
			<h3 class="mb-5">買うものとお店の組み合わせを決めてお店ごとの買い物リストを作成しましょう。<br>作成した買い物リストは画面下部に表示されます。</h3>
			<div class="make-shoppinglist">
				<form method="post" th:action="@{/shoppinglist/select3/create}" th:object="${shoppingList}">
					<div class="ingredientList">
						<p class="m-4" style="background-color: lightgray;">買い物予定の材料</p>
						<div class="form-check d-flex justify-content-center" th:each="item:${selectedIngredient}">
							<label class="form-check-label m-1">
								<input class="form-check-input" type="checkbox" th:text="${item.ingredientName}" th:value="${item.ingredientId}"
									name="ingredientList" />
							</label>
							<p class="m-1" th:text="${item.quantity}"></p>
						</div>
					</div>
					<div class="seasoningList">
						<p class="m-4" style="background-color: lightgray;">買い物予定の調味料</p>
						<div class="form-check" th:each="item:${selectedSeasoning}">
							<label class="form-check-label m-1">
								<input class="form-check-input" type="checkbox" th:text="${item.seasoningName}" th:value="${item.seasoningId}"
									name="seasoningList" />
							</label>
						</div>
					</div>
					<div class="alwaysBuyList">
						<p class="m-4" style="background-color: lightgray;">買い物予定の"いつも買うもの"</p>
						<div class="form-check" th:each="item:${selectedAlwaysBuy}">
							<label class="form-check-label m-1">
								<input class="form-check-input" type="checkbox" th:text="${item.alwaysBuyName}" th:value="${item.alwaysBuyId}"
									name="alwaysBuyList" />
							</label>
						</div>
					</div>
					<div class="laterBuyList">
						<p class="m-4" style="background-color: lightgray;">買い物予定の"あとで買うもの"</p>
						<div class="form-check" th:each="item:${selectedLaterBuy}">
							<label class="form-check-label m-1">
								<input class="form-check-input" type="checkbox" th:text="${item.laterBuyName}" th:value="${item.laterBuyId}"
									name="laterBuyList" />
							</label>
						</div>
					</div>			
					<div class="shopList">
						<p class="m-4" style="background-color: orange">買うお店を選択してください</p>
						<div class="form-check" th:each="item:${shopList}" th:unless="${item.deleted}">
							<label class="form-check-label m-1">
								<input class="form-check-input" type="radio" th:text="${item.shopName}" th:value="${item.shopId}" name="shop" />
							</label>
						</div>
					</div>
					<input class="btn btn-warning mt-4 mb-2" type="submit" value="買い物リストを作成">
				</form>
				<form class="move-to-shoppingList" method="get" th:action="@{/shoppinglist/complete}">
					<input class="btn btn-outline-info text-nowrap mb-5" type="submit" value="買い物リスト作成を完了（買い物リスト一覧画面へ）">
				</form>
			</div>
			<p>作成した買い物リスト</p>
			<div id="posts" 　th:if="${shoppingLists} != null" th:each="shoppingList : ${shoppingLists}">
					<div class="card text-bg-light mb-3 d-flex align-items-center" style="max-width: 20em;">
						<h5 class="card-title" th:if="${shoppingList.shop} != null" th:text="${shoppingList.shop.shopName}"></h5>
						<div class="d-flex" th:each="item:${shoppingList.shoppingListIngredients}">
							<span class="card-text me-1" th:text="${item.ingredient.ingredientName}"></span>
							<span class="card-text" th:text="${item.ingredient.quantity}"></span>
						</div>
						<div th:each="item:${shoppingList.shoppingListSeasonings}">
							<p class="card-text" th:text="${item.seasoning.seasoningName}"></p>
						</div>
						<div th:each="item:${shoppingList.shoppingListAlwaysBuys}">
							<p class="card-text" th:text="${item.alwaysBuy.alwaysBuyName}"></a>
						</div>
						<div th:each="item:${shoppingList.shoppingListLaterBuys}">
							<p class="card-text" th:text="${item.laterBuy.laterBuyName}"></a>
						</div>		
				</div>
			</div>
		</main>
	</div>
</body>

</html>