<!-- 買い物リスト作成ページ②：選択した料理に必要なものと、保存した買うものリストから買うものを選択するページ-->
<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/common}">

<body>
	<div class="wrap" layout:fragment="contents">
		<main>
			<h1 class="title" th:text="${title}"></h1>
			<p>step2:買うものを選択する</p>
			<div class="select-items">
				<form method="post" th:action="@{/shoppinglist/select3}">
					<div class="ingredientList">
						<p>選択した料理の材料で買うものを選択する</p>
						<th:block th:each="item:${ingredientList}">
							<input type="checkbox" th:text="${item.ingredientName}" th:value="${item.ingredientId}"
								name="ingredients" />
							<a th:text="${item.quantity}"></a>
						</th:block>
					</div>
					<div class="seasoningList">
						<p>選択した料理の調味料で買うものを選択する</p>
						<th:block th:each="item:${seasoningList}">
							<input type="checkbox" th:text="${item.seasoningName}" th:value="${item.seasoningId}"
								name="seasonings" />
						</th:block>
					</div>
					<div class="alwaysBuyItems">
						<p>いつも買うものを選択する</p>
						<th:block th:each="item:${alwaysBuy}">
							<input type="checkbox" th:text="${item.alwaysBuyName}" th:value="${item.alwaysBuyId}"
								name="alwaysBuys" />
						</th:block>
					</div>
					<input type="submit" value="送信">
				</form>
			</div>
		</main>
	</div>
</body>

</html>