<!-- いつも買うものの登録ページ -->
<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/common}">

<body>
	<div class="wrap" layout:fragment="contents">
		<main>
			<div class="container">
				<h1 class="title">いつも買うものを登録する</h1>
				<form method="post" th:action="@{/alwaysBuy}" th:object="${form}">
					<p>いつも買うものを入力してください</p>
					<input type="text" name="alwaysBuyName" th:value="*{alwaysBuyName}" />
					<input type="submit" value="保存">
				</form>
				<table class="table">
					<thead>
						<th>登録済みの買うもの一覧</th>
					</thead>
					<tbody>
						<tr th:each="item: ${data}" th:unless="${item.deleted}">
							<td th:text="${item.alwaysBuyName}"></td>
							<td>
								<form th:action="@{/alwaysBuy/delete}" method="post">
									<input type="hidden" name="id" th:value="${item.alwaysBuyId}">
									<input type="submit" class="btn delete" value="削除">
								</form>
							</td>
						</tr>
					</tbody>
				</table>
		</main>
	</div>
</body>

</html>