<!-- 材料の表示ページ-->
<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<link rel="stylesheet" href="/css/normalize.css" th:href="@{/css/normalize.css}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<header th:replace="~{layouts/common.html :: header}"></header>
	<main>
		<div class="container">

			<p>contents</p>

			<table class="table">
				<thead>
					<th>登録した材料の表示</th>
				</thead>
				<tbody>
					<tr th:each="item: ${data}">
						<td th:text="${item.ingredientName}"></td>
						<td th:text=${item.quantity}></td>
						<td th:text=${item.seasoningName}></td>
					</tr>
				</tbody>
			</table>


		</div>
	</main>
	<footer th:replace="~{layouts/common.html :: footer}"></footer>
</body>

</html>