<!-- ログイン後のメインページ -->
<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/common}">

<body>
	<div class="wrap" layout:fragment="contents">
		<main>
			<div class="container">
				<div class="row d-flex align-items-stretch">
					<div class="col-md-6 col-lg-4 p-4">
						<div class="card h-100" style="max-width: 18rem;">
							<img class="card-img-top" src="/images/icons/218.png" alt="パソコン画面を見ている人のイラスト">
							<div class="card-body d-flex flex-column">
								<h4 class="card-title">買い物リストを見る</h4>
								<p class="card-text">作成した買い物リストを見るのはこちらから。<br>買い物リストの削除も出来ます。</p>
								<a th:href="@{/shoppinglist/list}" class="btn btn-warning mt-auto">買い物リストを見る</a>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-4 p-4">
						<div class="card h-100" style="max-width: 18rem;">
							<img class="card-img-top" src="/images/icons/455.png" alt="メモ帳のイラスト">
							<div class="card-body d-flex flex-column">
								<h4 class="card-title">買い物リストを作る</h4>
								<p class="card-text">登録した料理や買い物リストから買い物リストを作りましょう。<br>登録したお店ごとのリストを作成出来ます。</p>
								<a th:href="@{/shoppinglist/initialize}" class="btn btn-warning mt-auto">買い物リストを作る</a>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-4 p-4">
						<div class="card h-100" style="max-width: 18rem;">
							<img class="card-img-top" src="/images/icons/974.png" alt="フォークとお皿とナイフのイラスト">
							<div class="card-body d-flex flex-column">
								<h4 class="card-title">料理の登録</h4>
								<p class="card-text">よく作る料理を登録しましょう。<br>登録した料理は買い物リストの作成に使えます。</p>
								<a th:href="@{/dish/list}" class="btn btn-warning mt-auto">料理を登録する</a>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-4 p-4">
						<div class="card h-100" style="max-width: 18rem;">
							<img class="card-img-top" src="/images/icons/485.png" alt="お店のイラスト">
							<div class="card-body d-flex flex-column">
								<h4 class="card-title">お店の登録</h4>
								<p class="card-text">買い物に利用するお店を登録しましょう。<br>お店ごとの買い物リストを作るのに役立ちます。</p>
								<a th:href="@{/shop}" class="btn btn-warning mt-auto">お店を登録する</a>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-4 p-4">
						<div class="card h-100" style="max-width: 18rem;">
							<img class="card-img-top" src="/images/icons/724.png" alt="野菜のイラスト">
							<div class="card-body d-flex flex-column">
								<h4 class="card-title">いつも買うものリスト</h4>
								<p class="card-text">いつも買うものはここに登録しましょう。<br>登録したものは買い物リストを作るときに選択することが出来ます。</p>
								<a th:href="@{/alwaysBuy}" class="btn btn-warning mt-auto">いつも買うものリストを作る</a>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-4 p-4">
						<div class="card h-100" style="max-width: 18rem;">
							<img class="card-img-top" src="/images/icons/1246.png" alt="ハンドソープのイラスト">
							<div class="card-body d-flex flex-column">
								<h4 class="card-title">あとで買うものリスト</h4>
								<p class="card-text">
									今度買おうと思っているものはここに登録しましょう。<br>登録したものは買い物リストを作るときに選択することが出来ます。</p>
								<a th:href="@{/laterBuy}" class="btn btn-warning mt-auto">あとで買うものリストを作る</a>
							</div>
						</div>
					</div>
				</div>
		</main>
	</div>
</body>

</html>