<!-- 最初に表示されるページ -->
<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/normalize.css" th:href="@{/css/normalize.css}">
	<title>かごノート</title>
</head>

<body>
	<div th:if="${hasMessage}" class="alert alert-dismissible fade show" th:classappend="${class}" role='alert'>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		<span th:text="${message}"></span>
	</div>
	<div class="user-wrapper">
		<main>
			<div class="container">
				<div class="row align-items-center">
					<div class="col col-xl-8 mb-3 d-flex flex-column align-items-center">
						<img class="mt-5 mb-5" src="/images/icons/8390_color.png" alt="パソコンで買い物をする女性" width="230"
							height="200">
						<h1>かごノート</h1>
						<h2>かごノートは買い物リストを作ることのできるアプリです。</h2>
						<h3 class="mb-5">
							よく作る料理やいつも買うもの、今度買おうと思っているものを登録してお店ごとの買い物リストを作りましょう。<br>買い物リストを作るときに登録した料理を選択すると、必要な材料が画面に表示されるので、わざわざレシピ本を探す必要がありません。
						</h3>
					</div>
					<div class="col col-xl-4 mb-5">
						<div class="d-flex flex-column h-100 justify-content-center">
							<a class="btn w-100 btn-warning mb-3 text-nowrap" href="/users/new">新規会員登録</a>
							<a class="btn w-100 btn-warning text-nowrap" href="/login">ログイン</a>
							<p class="text-secondary mt-2 text-center">↑ゲストログインはこちらから</p>
						</div>
					</div>
				</div>
			</div>
		</main>
		<footer th:replace="layouts/common.html :: footer"></footer>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
		</script>
</body>

</html>